@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="my-4">Daywise Spend Split</h1>


<table class="table table-striped border border-dark">
    <thead>
        <tr class="bg-primary text-white">
            <th>Date</th>
            <th>Expenses</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            var count = 1;
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>
                    @foreach(var it1 in @item.Spends){

                        <p>@count.@it1.ExpenseName &nbsp;&nbsp;&nbsp; @it1.ExpenseAmmount</p>
                        count += 1;
                    }
                </td>
            </tr>
        }
    </tbody>
</table>